.root {
  height: 458px;
  width: 1200px;
  background-color: rgba(245, 245, 247, 1);
}
@media (max-width: 768px) {
  .root {
    height: 698px;
    width: 430px;
    position: absolute;
    top: 1933px;
  }
}
.fav-prod {
  overflow-x: hidden; // Hide overflow for horizontal scrolling
  position: relative;
  grid-auto-flow: column;
  width: 1200px;
  display: flex;
  overflow: hidden;
  align-items: stretch;
}
@media (max-width: 768px) {
  .fav-prod {
    position: absolute;
    top: 309px;

  }
}
.fav-prod1 {
  display: flex;
  transition: transform 0.5s ease; // Smooth transition for sliding effect
}
.left-arrow {
  transform: scaleX(-1); /* Flip the arrow horizontally */
  position: relative;
  left: 30px;
}
@media (max-width: 768px) {
  .left-arrow {
    position: absolute;
    left: 350px;
    top: 120px;
  }
}
.favorite-heading {
  width: 559px;
  height: 41px;
  color: #5d6665;
  font-size: 64px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 36px;
  word-wrap: break-word;
  position: relative;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 359px;
  margin: 20px;
}
@media (max-width: 768px) {
  .favorite-heading {
    width: 435px;
    height: 63px;
    color: #5d6665;
    font-size: 64px;
    font-family: Inria Serif;
    font-weight: 700;
    line-height: 64px;
    word-wrap: break-word;
    position: relative;
    left: 53px;
    text-align: left;
  }
}
.fav-sub {
  width: 402px;
  height: 22px;
  color: black;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
  position: relative;
  left: 450px;
  margin: 20px;
}
@media (max-width: 768px) {
  .fav-sub {
    width: 293px;
    height: 49px;
    color: black;
    font-size: 22px;
    font-family: Inria Serif;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    text-align: left;
    position: absolute;
    top: 163px;
    left: 53px;
  }
}
.favorite-card {
  width: 1000px;
  height: 325px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 1px;
  padding: 1px;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  left: -10px;
}

@media (max-width: 768px) {
  .favorite-card{
    width: 260px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    left: 7px;
  }
}