.root {
  width: 1200px;
}
.first-slide-block {
}
.configurator-section {
}
.configurator-section {
  width: 1200px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.canva-div {
  width: 800px;
  height: 500px;
}
.configurator-listing {
  height: 500px;
  width: 400px;
  margin-top: 0px;
  box-shadow: 1.41px 1.41px 24px -11px black;
}

.Lamp {
  color: black;
  font-size: 24px;
  font-family: 'Inria Serif';
  font-weight: 400;
  overflow-wrap: break-word;
  position: relative;
  bottom: 70px;
  left: 120px;
}
.tv-meubel-div {
  position: absolute;
  left: 490px;
}
.kast {
  position: absolute;
  left: 900px;
}

.LivingRoom {
  color: black;
  font-size: 24px;
  font-family: 'Inria Serif';
  font-weight: 400;
  overflow-wrap: break-word;
  position: relative;
  left: 130px;
  bottom: 70px;
}

.NewNow {
  color: black;
  font-size: 24px;
  font-family: 'Inria Serif';
  font-weight: 400;
  overflow-wrap: break-word;
  position: relative;
  left: 150px;
  bottom: 70px;
}

.ChevronLeft {
  width: 42px;
  position: relative;
  left: 980px;
  top: 75px;
  height: 38px;
  transform: rotate(270deg);
  transform-origin: 0px 0px;
}

.Chevron {
  width: 66px;
  height: 45px;
  position: relative;
  top: 30px;
}
.component-config {
  height: 420px;
  margin-top: 0px;
}
.components-selection {
  height: 35px;
  border: 0px solid #dcdcdc;
  border-bottom: 1.2px solid #dcdcdc;
  width: 350px;
  margin-left: 27px;
  padding-top: 0px;
  margin-top: 20px;
  display: inline-block;
}
.door {
  height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100px;
}
.door-icon {
  width: 25px;
  height: 28px;
  position: relative;
  top: 8px;
}
.frame-icon {
  position: relative;
  width: 25px;
  height: 22px;
  top: 10px;
}
.handle-icon {
  width: 25px;
  height: 22px;
  position: relative;
  top: 10px;
}
.drawer-icon {
  position: relative;
  top: 10px;
  width: 25px;
  height: 22px;
}
.rail-icon {
  width: 25px;
  height: 22px;
  position: relative;
  top: 8px;
}
.shelve-icon {
  position: relative;
  width: 25px;
  height: 22px;
  top: 10px;
}
.shoe-icon {
  position: relative;
  top: 10px;
  width: 25px;
  height: 22px;
}
