.root {
  width: auto;
  height: 1000px;
  margin: 0;
}
@media (max-width: 450px) {
  .root {
    width: 530px;
    height: 800px;
    margin: 0;
  }
}
@media screen and (min-width: 1800px) {
  /* Your CSS rules for devices with a minimum width of 1800 pixels */
  .root {
    min-width: 2000px;
  }
}
.header {
  height: 818px;
  width: auto;
  background-repeat: no-repeat;
  background-image: url('../src/assets/headerback.svg');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
@media (max-width: 450px) {
  .header {
    height: 800px;
    width: 390px;
    background-repeat: no-repeat;
    background-image: url('../src/assets/headerback.svg');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header-big {
  width: 644px;
  height: 128px;
  color: white;
  font-size: 78px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 73px;
  word-wrap: break-word;
  position: absolute;
  top: 252px;
  left: 98px;
  text-align: left;
}
@media (max-width: 450px) {
  .header-big {
    width: 510px;
    height: 37px;
    color: white;
    font-size: 70px;
    font-family: Inria Serif;
    font-weight: 700;
    line-height: 73px;
    word-wrap: break-word;
    position: absolute;
    left: 10px;
    top: 196px;
    text-align: center;
  }
}

.header-big1 {
  width: 496px;
  height: 92px;
  color: white;
  font-size: 28px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 1.12px;
  word-wrap: break-word;
  position: absolute;
  left: 101px;
  top: 400px;
  text-align: left;
}
@media (max-width: 450px) {
  .header-big1 {
    width: 380px;
    height: 84px;
    color: white;
    font-size: 28px;
    font-family: Inria Serif;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1.12px;
    position: absolute;
    word-wrap: break-word;
    left: 90px;
    top: 380px;
  }
}
@media (max-width: 450px) {
}
.header-btn1 {
  width: 211px;
  height: 68px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 49px;
  padding-right: 50px;
  background: #d9d9d9;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  position: absolute;
  left: 107px;
  top: 510px;
}
@media (max-width: 450px) {
  .header-btn1 {
    position: absolute;
    left: 170px;
    top: 554px;
  }
}

.header-btn2 {
  width: 216px;
  height: 68px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 21px;
  padding-bottom: 21px;
  background: black;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  position: absolute;
  left: 362px;
  top: 510px;
}
@media (max-width: 450px) {
  .header-btn2 {
    position: absolute;
    top: 666px;
    left: 170px;
  }
}
.feature-prod {
  position: relative;
  left: 11px;
  width: 1000px;
  height: 210px;
  display: flex;
  margin: 1px;
  padding: 1px;
  bottom: 110px;
  background-color: rgba(245, 245, 247, 0);
}
@media screen and (min-width: 1800px) {
  /* Your CSS rules for devices with a minimum width of 1800 pixels */
  .feature-prod {
    position: relative;
    left: 400px;
  }
}
@media (max-width: 450px) {
  .feature-prod {
    position: absolute;
    top: 750px;
    left: 117px;
    flex-wrap: wrap;
    width: 307px;
    height: 1000px;
  }
}
.featured-text {
  width: 192px;
  height: 32px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: #5d6665;
  font-size: 40px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  position: relative;
  top: 300px;
  left: 125px;
}

@media (max-width: 450px) {
  .featured-text {
    position: relative;
    top: 300px;
    left: -30px;
  }
}
