.root {
  background-color: rgb(245, 245, 247);
  width: 1200px;
  height: 700px;
}
.contact-img {
  width: 1200px;
  height: 450px;
}
.contact-div {
  width: 900px;
  height: 482px;
}
.contact-form {
  width: 500px;
  height: 300px;
}
