.root {
  background-color: rgb(245, 245, 247);
  width: 1250px;
  height: 800px;
  position: relative;
  top: 2100px;
}
.contact-img {
  width: 1300px;
  height: 450px;
}
.contact-div {
  width: 900px;
  height: 600px;
  position: relative;
  left: 140px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 4px;
  bottom: 250px;
  border: 1px #d9d9d9 solid;
}
.contact-form {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 370px;
  top: 172px;
}

.name-input {
  width: 280px;
  position: relative;
  height: 50px;
  bottom: 0px;
  left: -2px;
}
.email-input {
  width: 227px;
  position: absolute;
  height: 50px;
  bottom: 7px;
  left: 6px;
}
.subject {
  margin: 10px;
  top: 47px;
  position: absolute;
  left: -7px;
  width: 487px;
  height: 50px;
}
.message-input {
  margin: 10px;
  position: absolute;
  top: 111px;
  height: 168px;
  width: 489px;
  left: -5.5px;
}

.div-name-input {
  width: 214px;
  height: 45px;
  position: absolute;
  padding-top: 14px;
  left: 3px;
  bottom: 249px;
  padding-bottom: 14px;
  padding-left: 8px;
  padding-right: 7px;
  background: white;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 3px;
  border: 1px black solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.div-email-input {
  width: 224px;
  height: 45px;
  position: absolute;
  bottom: 250px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 13px;
  padding-right: 9px;
  background: #fffeff;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 3px;
  border: 1px black solid;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}
.email-input::placeholder {
  color: #000000; /* Placeholder text color */
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin-left: 10px;
}
.subject::placeholder {
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin: 10px;
}

.message-input::placeholder {
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin: 10px;
}
.name-input::placeholder {
  color: #000000; /* Placeholder text color */
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 28px;
  margin: 10px;
  word-wrap: break-word;
}
.submit-btn {
  width: 449px;
  height: 43px;
  padding-top: 19.29px;
  padding-bottom: 25.71px;
  padding-left: 266px;
  padding-right: 231px;
  background: black;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 6px;
  border: 1px #f5f5f7 solid;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
  position: absolute;
  top: 302px;
  left: 3px;
}
.submit-btn-txt {
  color: white;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  width: 500px;
  left: 0px;
  text-align: center;
  position: absolute;
  text-wrap: nowrap;
}
.contact-form-title {
  width: 452px;
  color: #5d6665;
  font-size: 54px;
  font-family: Inria Serif;
  font-weight: 700;
  text-align: left;
  line-height: 60px;
  position: relative;
  top: 14px;
  left: 35px;
  word-wrap: break-word;
}
.belons-txt {
  color: #171a1f;
  width: 107px;
  font-size: 32px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  top: 152px;
  left: 77px;
  position: absolute;
  word-wrap: break-word;
}
.belons-subtxt {
  width: 254px;
  height: 50px;
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  text-align: left;
  font-weight: 400;
  top: 186px;
  position: absolute;
  left: 80px;
  line-height: 28px;
  word-wrap: break-word;
}
.belons-number {
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 276px;
  left: 77px;
  word-wrap: break-word;
}
.Mailons {
  width: 181px;
  color: #171a1f;
  font-size: 32px;
  font-family: Inria Serif;
  position: absolute;
  font-weight: 700;
  line-height: 32px;
  left: 45px;
  top: 330px;
  word-wrap: break-word;
}
.mail-address {
  width: 259px;
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  position: absolute;
  left: 80px;
  top: 372px;
  word-wrap: break-word;
}

.waar-alles {
  color: #171a1f;
  font-size: 32px;
  font-family: Inria Serif;
  font-weight: 700;
  text-align: left;
  line-height: 28px;
  width: 285px;
  position: absolute;
  left: 75px;
  top: 420px;
  word-wrap: break-word;
}
.sub-waar-alles {
  width: 208px;
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  left: 80px;
  top: 459px;
  text-align: left;
  word-wrap: break-word;
}
