.card {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cardImage {
    width: auto;
    margin-left: 20px;
    display: inline-flex;
    object-position: center;
    max-height: 150px;
}

.cardContent {
    padding: 8px; /* Adjusted padding for smaller size */
}

.cardTitle {
    margin: 0;
    font-size: 1rem; /* Adjusted font size for smaller size */
    color: #333;
}
